.header {
    box-sizing: border-box;
    background-color: $main-color;
    text-align: center;
    height: auto;
    width: 100%;
    padding: 20px;
    &__title {
        display: inline-block;
        color: $title-color;
        font-family: $font-main;
        font-size: 4.5em;
        font-weight: bold;
        letter-spacing: -6px;
    }
}