html {
    font-size: 100%;
    @media (max-width: 1360px) {
        font-size: 90%;
    }
    @media (max-width: 720px) {
        font-size: 72%;
    }
}

body {
    margin: 0;
    background: $background-all;
}