//font header-footer
$font-main: 'Noto Sans JP', sans-serif;

// font-index
$font-base: cursive;
$font-dancing: 'Dancing Script', cursive;
$font-amatic: 'Over the Rainbow', 'Amatic SC', cursive;
$font-marmelad: 'Marmelad', sans-serif;
$font-allura: 'Allura', cursive;
$font-playball: 'Playball', cursive;
$font-indie: 'Indie Flower', cursive;

a {
    text-decoration: none;
}