.container {
    margin-top: 15rem;
    align-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 30rem);
    text-align: center;
    place-content: center;
    grid-gap: 10rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.boxing {
    @include shadow;
    transform: scale(1);
    transition: transform 400ms;
    &:hover {
        transform: scale(1.15);
    }
}

.first-menu {
    color: $first-color;
    background-color: $background-1;
    @include box;
    &__title {

    }
    &__p {
        
    }
}

.second-menu {
    color: $second-color;
    background-color: $background-2;
    @include box;
    &__title {

    }
    &__p {
        
    }
}

.third-menu {
    color: $third-color;
    background-color: $background-3;
    @include box;
    &__title {

    }
    &__p {
        
    }
}

.fourth-menu {
    color: $fourth-color;
    background-color: $background-4;
    @include box;
    &__title {

    }
    &__p {
        
    }
}

.next {
    text-align: center;
    color: $first-color;
    margin-bottom: 5rem;

    &__all {
        background-color: $background-1;
        @include box;
    }
    &__title {

    }
    &__p {
        
    }
}