.container {
    margin-top: 15rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 30rem);
    text-align: center;
    place-content: center;
    grid-gap: 10rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.boxing {
    @include shadow;
    transform: scale(1);
    transition: transform 400ms;
    &:hover {
        transform: scale(1.15);
    }
}

.first-menu {
    color: $first-color;
    background-color: rgba($background-1, 0.2);
    transition: background-color 400ms;
    @include box;
    &__title {

    }
    &__p {
        
    }
    &:hover {
        background-color: rgba($background-1, 1);
    }
}

.second-menu {
    color: $second-color;
    background-color: rgba($background-2, 0.2);
    transition: background-color 400ms;
    @include box;
    &__title {

    }
    &__p {
        
    }
    &:hover {
        background-color: rgba($background-2, 1);
    }
}

.third-menu {
    color: $third-color;
    background-color: rgba($background-3, 0.2);
    transition: background-color 400ms;
    @include box;
    &__title {

    }
    &__p {
        
    }
    &:hover {
        background-color: rgba($background-3, 1);
    }
}

.fourth-menu {
    color: $fourth-color;
    background-color: rgba($background-4, 0.2);
    transition: background-color 400ms;
    @include box;
    &__title {

    }
    &__p {
        
    }
    &:hover {
        background-color: rgba($background-4, 1);
    }
}

.next {
    text-align: center;
    border: 2px solid $main-color;;
    border-radius: 15px;
    background-color: $main-color;
    margin: 0 500px 5rem 500px;
    transform: scale(1);
    transition: transform 300ms;
    &__text {
        color: $title-color;
    }
    &:hover {
        transform: scale(1.15);
    }
}