.content-page {
    margin-top: 5rem;
    margin-bottom: 6rem;
    &__title {
        font-family: $font-main;
        color: black;
        font-size: 3.5em;
        text-align: center;
    }
}

.category {
    margin-bottom: 5rem;
    &__title{
        @include category-title;
        font-family: $font-base;
    }
    &__main {
        font-family: $font-caveat;
        p {
            @include p-menu;
            }
    }
}

.main-cours {
    display: flex;
    justify-content: space-between;
    &__prices {
        font-weight: bold;
        margin-left: 15px;
        align-items: center;;
    }
}