.box-third {
    @include box-pages($background-3);
    width: 87%;
    padding: 8rem 0 10rem 0;
}

.category {
    &__plate {
        @include padding-box;
        p {
            @include p-menu;
            }
    }
}

.menu-title3 {
    font-family: $font-allura;
    @include text-gradiant($third-color, $third-color2);
    font-size: 4em;
    text-align: center;
    margin-bottom: 1.5em;
}