.box-second {
    @include box-pages($background-2);
    width: 87%;
    padding: 8rem 0 10rem 0;
}

.menu-title2 {
    font-family: $font-croissant;
    @include text-gradiant($second-color, $second-color2);
    font-size: 3em;
    text-align: center;
    margin-bottom: 3em;
}

.category {
    &__title1 {
        @include category-title;
        font-family: $font-libre;
        color: 	$menu-color1;
        span {
            @include underline-animation($menu-color1);
        }
    }
    &__title2 {
        @include category-title;
        font-family: $font-libre;
        color: $menu-color2;
        span {
            @include underline-animation($menu-color2);
        }
    }
    &__title3 {
        @include category-title;
        font-family: $font-libre;
        color: $menu-color3;
        span {
            @include underline-animation($menu-color3);
        }
    }
    &__main1 {
        @include padding-box;
        font-family: $font-libre;
        color: 	$menu-color1;
        p {
            @include p-menu2;
            }
    }
    &__main2 {
        @include padding-box;
        font-family: $font-libre;
        color: 	$menu-color2;
        p {
            @include p-menu2;
            }
    }
    &__main3 {
        @include padding-box;
        font-family: $font-libre;
        color: $menu-color3;
        p {
            @include p-menu2;
            }
    }
}