.box-first {
    @include box-pages($background-1);
}

.menu-title1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 1em;
    i {
        color: $symbol-color;
        font-size: 3em;
        margin-bottom: 0;
    }
    &__text {
        font-family: $font-devonshire;
        font-size: 2em;
        color: $first-color;
        margin-top: 15px;
    }
}

.category-first {
    margin-bottom: 5rem;
    color: $first-color;
    &__title{
        @include category-title;
        font-family: $font-base;
        span {
            @include underline-animation($first-color);
        }
    }
    &__main {
        font-family: $font-caveat;
        p {
            @include p-menu;
            }
    }
}

.end-page {
    text-align: center;
    color: $first-color;
    font-size: 50px;
    font-family: $font-devonshire;
    i {
        color: $symbol-color;
        margin-right: 0.5em;
    }
}

  