.box-first {
    @include box-pages($background-1);
    padding: 8rem 150px 8rem 150px;
}

.menu-title1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 1em;
    i {
        @include text-gradiant($symbol-color, $symbol-color2);
        font-size: 3em;
        margin-bottom: 0;
    }
    &__text {
        font-family: $font-devonshire;
        font-size: 2em;
        color: $first-color;
        margin-top: 15px;
    }
}

.category-first {
    margin-bottom: 5rem;
    color: $first-color;
    font-family: $font-handlee;
    &__title{
        line-height: 50%;
        font-weight: bold;
        @include category-title;
        span {
            @include underline-animation($first-color);
        }
    }
    &__main {
        p {
            @include p-menu;
            }
    }
}

.img1 {
    image-orientation: 180deg;
    width: 30%;
    height: 23px;
    float: left;
    @media (max-width: 992px) {
        width: 23%;
        height: 15px;
    }
    @media (max-width: 420px) {
        width: 10%;
        height: 10px;
    }
}

.img2 {
    width: 30%;
    height: 23px;
    float: right;
    @media (max-width: 992px) {
        width: 20%;
        height: 15px;
    }
    @media (max-width: 420px) {
        width: 10%;
        height: 10px;
    }
}

.end-page {
    text-align: center;
    color: $first-color;
    font-size: 50px;
    font-family: $font-devonshire;
    i {
        @include text-gradiant($symbol-color, $symbol-color2);
        margin-right: 0.5em;
    }
}

  