.content-page {
    margin-top: 5rem;
    margin-bottom: 6rem;
    &__title {
        font-family: $font-main;
        color: black;
        font-size: 3.5em;
        text-align: center;
    }
}

.category {
    margin-bottom: 5rem;
    font-family: $font-handlee;
    &__title{
        @include category-title ;
        span {
            @include underline-animation(black);
        }
    }
    &__main {
        p {
            @include p-menu;
            }
    }
}

.img_left {
    float: left;
    @include sides-left;
}

.img_right {
    float: right;
    @include sides-right;
}

.main-cours { 
    display: flex;
    justify-content: space-between;
    & p:nth-child(1) {
        margin-right: 20px;
    }
    &__prices {
        font-weight: bold;
        align-items: center;;
    }
}


