@mixin box_1 {
    padding: $padding-up-1 0 $padding-up-1 0;
}

@mixin box_2 {
    padding: $padding-up-2 0 $padding-up-2 0;
}

@mixin box_3 {
    padding: $padding-up-3 0 $padding-up-3 0;
}

@mixin shadow {
    box-shadow: 0 0 20px rgba(0,0,0,0.20);
}

@mixin background-color-anim($color) {
    background-color: rgba($color, 1);
    transition: background-color 400ms;
    &:hover {
        background-color: rgba($color, 0);
    }
}

@mixin scale-anim {
    transform: scale(1);
    transition: transform 400ms;
    &:hover {
        transform: scale(1.25);
    }
}