
@mixin shadow {
    box-shadow: 0 0 20px rgba(0,0,0,0.20);
}

@mixin text-gradiant($color1, $color2) {
    background: linear-gradient(to right, $color1 0%, $color2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin background-color-anim($color) {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color, 1);
    transition: background-color 400ms;
    &:hover {
       background-color: rgba($color, 0);
    }
}

@mixin scale-anim {
    transform: scale(1);
    transition: transform 400ms;
    &:hover {
        transform: scale(1.15);
    }
}

@mixin box-pages($color) {
    @include shadow;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 65%;
    height: 100%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 8rem 150px 8rem 150px;
    background-color: $color;
    @media (max-width: 992px) {
        width: 80%;
        padding: 5rem 18px 5rem 18px;
    }
}

@mixin category-title {
    text-align: center;
    font-size: 2.1em;
    font-weight: bold;
    margin-bottom: 2.8em;
}

@mixin p-menu{
    margin-top: 8px;
    font-size: 35px;
}

@mixin p-menu2{
    margin-top: 8px;
    font-size: 30px;
}

@mixin underline-animation($color) {
    position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: $color;
            visibility: hidden;
            transition: all 400ms ease-in-out;
        }
        &:hover::before {
            visibility: visible;
            width: 100%;
          }
}