$main-color: #579c87;
$title-color: 	#fdcb46;
$first-color: 	#481e24;
$second-color: #c77412;
$third-color: #0887fb;
$fourth-color: 	#75c05a;

$background-all: #ffffff;
$background-1: 	#fcdfdb;
$background-2: 	#fff5fe;
$background-3: #f9f9f9;
$background-4: #fdfffd;

$margin-side: 2rem;
$margin-up: 20rem;
