$main-color: #579c87;
$title-color: 	#fdcb46;
$first-color: 	#481e24;
$second-color: #c77412;
$second-color2: #8f5aff;
$third-color: #0235e1;
$third-color2: #0889fb;
$fourth-color: 	#4fa143;
$fourth-color2: #beff7f;
$fourth-color3: #72bf56;
$symbol-color: #f04d5f;
$symbol-color2 :#f6916a;

$menu-orange: #ca7c21;
$menu-lightpurple: #b783ad;
$menu-purple: #7e5fd2;

$background-all: #ffffff;
$background-1: 	#fcdfdb;
$background-2: 	#fff5fe;
$background-3: #f2f2f2;
$background-4: #fdfffd;

$font-menu: 60px;

$shake-intensity: 3%;